html
{
    font-family: 'Poppins', sans-serif !important;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: #FFFFFF; /* Цвет фона шапки */
    padding: 10px 10px; /* Внутренние отступы шапки */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Заблюренная тень */
}

/* Стили для меню */
.menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-grow: 1; /* Занимает доступное пространство */
    justify-content: center; /* Выравнивание по центру */
}

.menu li {
    margin: 0 20px; /* Отступы между пунктами меню */
}


.menu a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #6B6B6B; /* Цвет ссылок */
    font-size: 20px;
}

.menu a:hover {
    color: #4C40F7; /* Новый цвет ссылок при наведении */
    font-weight: 600; /* Увеличение жирности при наведении */
}

/* Стили для кнопки бургера */
.cta-button {
    display: none; /* Начально скрыта */
    background-color: #4C40F7; /* Цвет фона кнопки */
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 10px; /* Закругление углов кнопки */
    box-shadow: 0 3px 6px #4C40F7; /* Заблюренная тень */
    cursor: pointer;
}

.main-header-button{
    background-color: #4C40F7; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста на кнопке */
    padding: 10px 20px; /* Внутренние отступы кнопки */
    border: none;
    height: 45px;
    border-radius: 10px; /* Закругление углов кнопки */
    box-shadow: 0 3px 6px #4C40F7; /* Заблюренная тень */
    cursor: pointer;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
}

.cta-button:hover {
    background-color: #fff;
    color: #4C40F7; /* Цвет фона кнопки при наведении */
    box-shadow: 0 3px 6px #7c7c7c;
}

.main-header-button:hover {
    background-color: #fff;
    color: #4C40F7; /* Цвет фона кнопки при наведении */
    box-shadow: 0 3px 6px #7c7c7c;
}

/* Медиа-запрос для адаптивности */
@media (max-width: 768px) {
    .menu {
        display: none; /* Скрываем меню на мобильных устройствах */
    }

    .main-header-button{
        display: none; /* Скрываем меню на мобильных устройствах */
    }

    .cta-button {
        display: block; /* Показываем кнопку "бургер" */
    }
}

.block-1 {
    margin-left: 40px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
  }
  
.h1-block-1 {
    font-size: 71px;
    font-weight: bolder;
}
.span-block-1{
    color: #FF6800;
}

.p-block-1 {
    font-size: 16px;
  }
  
.a-block-1{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}
.block-1-button{
    background-color: #4C40F7; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста на кнопке */
    padding: 10px 20px; /* Внутренние отступы кнопки */
    border: none;
    height: 64px;
    width: 200px;
    border-radius: 10px; /* Закругление углов кнопки */
    box-shadow: 0 3px 6px #4C40F7; /* Заблюренная тень */
    cursor: pointer;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
}

.col-1{
    margin-top: auto; /* вертикально центрируем текст и кнопки в колонке */
    margin-bottom: auto;/* вертикально центрируем текст и кнопки в колонке */
    
}

.p-block-1{
    color: #6B6B6B;
    font-size: 18px;
    margin-bottom: 40px;
}
.block2-p{
    color: #FF2D59;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.block2-p2{
    font-weight: 600;
    font-size: 42px;
    text-align: center;
}
.col-card{
    background-color: #f78f40;
    width: 352px;
    height: 458px;
    position: relative;
    
}
.row-block{
    display: flex;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    border: #000000;
    position: absolute;
    background-color: #4C40F7;
    height: 100px;
}

/* Стили для контейнера и карточек */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Располагаем по центру горизонтально */
}

.card {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 352px; /* Ширина каждой карточки (3 в ряд с небольшим отступом) */
    height: 458px;
    border-radius: 10px; /* Скругление углов */
    transition: transform 0.3s, background-color 0.3s;
    display: flex; /* Располагаем контент по центру вертикально и горизонтально */
    flex-direction: column; /* Контент внутри карточки располагается в столбец */
    align-items: center; /* Выравниваем по центру горизонтально */
    justify-content: center; /* Выравниваем по центру вертикально */
}


.card h3 {
    font-size: 20px;
}

.card p {
    font-size: 18px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.card button {
    display: block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: white;
    /* color: #fff; */
    border: none;
    border-radius: 90px;
    cursor: pointer;
}

/* Эффекты при наведении */
.card:hover {
    transform: translate(0, -10px);
    background-color: #4C40F7;
    color: #fff;
}